{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Блог на Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div>
            <a href="{% url 'article_list' %}"><strong>Головна</strong></a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <span>Привіт, {{ user.username }}!</span>
                <a href="{% url 'article_create' %}">Додати статтю</a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="margin-left: 15px;">Вийти</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Увійти</a>
                <a href="{% url 'register' %}">Реєстрація</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>